[user]
	name = Martin Kovarik
	email = kovarik.martin@gmail.com
[github]
	user = nihique
	token = add-your-token-here
[gui]
	fontdiff = -family \"Envy Code R\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
[diff]
	tool = beyondcompare
[difftool "beyondcompare"]
	cmd = \"c:/program files (x86)/beyond compare 3/bcomp.exe\" \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[merge]
	tool = beyondcompare
[mergetool "beyondcompare"]
	cmd = \"c:/program files (x86)/beyond compare 3/bcomp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
